//fuente
$fuente_principal : 'Inter', sans-serif;;

// Colores
$primary:#1E40AF;
$primaryDark: #002584;
$primaryLight: #6D89FA;

$secondary: #14B8A6;
$secondaryDark: #006B5F;
$secondaryLight: #4FDBC8;

$background: #F8FAFC;

$muted:#64748B;


// Media Queries
$phone: 480px;
$tablet:768px;
$desktop:1024px;
$desktopXL:1400px;

//Time transition
$comonTransition: all 0.3s ease-in-out;